/* NAVBAR */
header.admin-header {
  background: #006669;
  border-bottom: 1px solid steelblue;
}

.admin-wrapper {
  display: flex;
  height: calc(100% - 66px);
  width: 100%;
  position: absolute;
  top: 66px;
}

/* LEFT SIDEBAR */
.admin-wrapper .left-sidebar {
  width: 100%;

}

.admin-wrapper .left-sidebar ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.admin-wrapper .left-sidebar ul li a {
  padding: 18px;
  display: block;
  color:white;
}

.admin-wrapper .left-sidebar ul li a:hover {
  background-color: #0d7f83;
}

/* ADMIN CONTENT */
.sidebar-container {
  overflow-y: auto;
  flex: 1.8;
  height: 100%;
  border-right: 1px solid white;
  background-color: #006669;
}

.admin-content {
  flex: 8;
  height: 100%;
  padding: 0px 14px 0px;;
  /* font-size: 1.15em; */
  overflow-y: auto;
  background: #f5f6f7;
}

.admin-controls-container {
  flex: 2.2;
  height: 100%;
  background: #006669;
}

.admin-controls-container button{
  border: 1px solid white;
}

.admin-controls-container *{
  color: white;
}

.topics {
  margin-bottom: 8px;
}

.actions button{
  float: left;
  margin-bottom: 8px;
}

.admin-controls {
  padding: 8px 8px;
}

.admin-controls input[type=checkbox]{
  text-align: left;
}

.admin-content .content .dashboard-content h4 {
  margin: auto !important;
  text-align: center;
}

.button-group {
  position: relative;
  top: 16px;
}

.admin-content .page-title {
  text-align: center;
  margin: 1.5rem;
  background: #06d3d5 !important;
  background: -moz-linear-gradient(-68deg,#b22f2f 30%,#e8a319 80%) !important;
  background: -webkit-linear-gradient(-68deg,#b22f2f 30%,#e8a319 80%) !important;
  background: linear-gradient(156deg,#b22f2f 30%,#e8a319 80%) !important;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px; 
  font-family: 'Roboto', sans-serif;  
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
}

.edit {
  color: green;
}

.delete {
  color: red;
}

.publish {
  color: blue;
}

.edit:hover, 
.delete:hover, 
.publish:hover {
  text-decoration: underline;
}

form div {
  margin-bottom: 15px;
}
