  * {
    margin: 0;  
    box-sizing: border-box;
    transition: all .4s;
  }

  html, 
  body {
    height: 100%;
    margin:0px;
    padding:0px;
    color: #555;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
  }

  h1.post-title{
    background: #06d3d5 !important;
    background: -moz-linear-gradient(-68deg,#b22f2f 25%,#e8a319 90%) !important;
    background: -webkit-linear-gradient(-68deg,#b22f2f 25%,#e8a319 90%) !important;
    background: linear-gradient(156deg,#b22f2f 25%,#e8a319 90%) !important;
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px; 
  }

  h1.post-title.single {
    background: #06d3d5 !important;
    background: -moz-linear-gradient(-68deg,#b22f2f 25%,#e8a319 90%) !important;
    background: -webkit-linear-gradient(-68deg,#b22f2f 25%,#e8a319 90%) !important;
    background: linear-gradient(156deg,#b22f2f 25%,#e8a319 90%) !important;
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px; 
    /* font-family: 'Lato', sans-serif; */
    /*text-transform: lowercase;*/
  }

  .main-content.single h1.post-title{
    text-align: left;
  }

  h2 {
    color: black;
    font-weight: bolder;
  }

  h2.topics {
    text-align: center;
    margin: 8px;
  }

  h3.section-title {
    background: #06d3d5 !important;
    background: -moz-linear-gradient(-68deg,#b22f2f 25%,#e8a319 90%) !important;
    background: -webkit-linear-gradient(-68deg,#b22f2f 25%,#e8a319 90%) !important;
    background: linear-gradient(156deg,#b22f2f 25%,#e8a319 90%) !important;
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    /* font-family: 'Lato', sans-serif; */
  }

  a {
    text-decoration: none;
    color: initial;
  }

  a:hover :not(.logo-style){
    color: #006669;
  }

  a.title:hover {
    text-decoration: underline;
  }

  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }

  .btn {
    cursor: pointer;
    padding: .5rem .8em;
    background-color: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08em;
    display: inline-block;
  }

  .btn-big {
    margin-top: 0px;
    /* padding: 10px 16px; */
    /* line-height: 1.3rem; */
  }

  .btn-big.auth {
    padding: .6rem;
    background-color: #0d7f83;
    margin-top: 20px;
    border-radius: 5px;
  }

  .btn:hover {
    color: white !important;
    background-color: #014244;
  }

  .text-input {
    padding: 12px 8px;
    display: block;
    width: 100%;
    /* border-radius: 5px; */
    outline: none;
    line-height: 1.2rem;
    font-size: 1.05em;
    border: 1px solid #e0e0e0;
  }

  .text-input:focus {
    border: 1px solid green;
    color: black;
  }

  

  .msg {
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
  }

  .success {
    color: #3a6e3a;
    padding:10px;
    border: 1px solid #3a6e3a;
    background-color: #bcf5bc;
  }

  .error {
    color: #884b4b;
    padding:10px;
    border: 1px solid #884b4b;
    background-color: #f5bcbc;
  }

  div.navigation {
    margin: 4px 0px 10px 8px;
    display: inline-block;
    background: #f5f6f7;
    padding: 4px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .navigation a {
    padding: 4px 0px;
    font-size: 1.05em;
    color: blue;
  }

  #scroll-arrow {
  font-size: 1.5em;
  color: white;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  opacity: .75;
  font-size: 18px; /* Increase font size */
  transition: all .5s;
  }

  #scroll-arrow:hover {
    background-color: #006669; /* Add a dark-grey background on hover */
  }

  .pagination {
    clear: both;
    display: block;
    margin-bottom: 8px;
  }

  .pagination a{
    display: block;
    text-align: center;
    padding: 8px 4px;
    color: black;
    font-size: 1.15em;
    border: 1px solid green;
    width: 6em;
    position: relative;
    left: 1%;
    transition: all .5s;
  }

  .pagination a:hover{
    background-color: azure;
    opacity: .9;
    transition: all .5s;
    color: #555;
  }

  a.active {
    opacity: .75;
  }

  a.activeLink{
    color: green;
  }

  #statusMessage {
    color: red;
    opacity: .75;
    padding: 8px 2px;
    margin: 5px 0px;
  }

  /* mPopup box style */
  .mpopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    padding-top: 30px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .mpopup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 50%;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .mpopup-head {
    background-color: gainsboro;
    color: white;
  }

  .mpopup-head h3 {
    padding: 4px;
    font-size: 25px;
    text-align: center;
    color: #b22f2f;
  }

  .mpopup-head p {
    padding: 8px;
    text-align: center;
    color: #555;
  }

  .mpopup-main {padding: 8px 14px;}

  .mpopup-main input{
    margin-bottom: 10px;
  }

  .mpopup-main input[type="submit"]{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: #333;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .mpopup-foot {
    padding: 2px 16px;
    background-color: gainsboro;
    color: #555;
  }

  /* add animation effects */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* close button style */
  .close {
    position: absolute;
    font-weight: bold;
    vertical-align: middle;
    right: 10px;
    top: 13.5px;
  }
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  span#closeNotification{
    float: right;
    padding: 0px 4px;
  }

  span#closeNotification:hover{
    opacity: .75;
    cursor: pointer;
  }

  .NotFound{
    position: relative !important;
    top: 66px !important;
  }
  .post-title.errorpage{
    font-size: 100px;
    font-family: cursive;
  }

  .fourofour{
    margin: 10px auto;
    text-align: center;
    font-size: xxx-large;
    font-family: cursive;
  }

  /* NAVBAR */
  header {
    position:fixed;
    top:0px;
    z-index: 1;
    background: #006669;
    width: 100%;
    height:66px;
  }

  .header-container {
    height: inherit;
    padding: 15px;
    vertical-align: middle;
  }

  header * {
    color:white;
  }

  header *:hover :not(.logo-style) {
    color:white;
  }

  header.logo:hover .logo-style{
    color: #b22f2f !important;
  }


  header i {
    padding: 5px;
  }

  header .logo {
    font-weight: bold;
    padding: 0px;
    float:left;
    font-size: 1.875rem;
    text-align: center;
  }

  .logo-style{
    background: #06d3d5 !important;
    background: -moz-linear-gradient(-68deg,#b22f2f 25%,#e8a319 90%) !important;
    background: -webkit-linear-gradient(-68deg,#b22f2f 25%,#e8a319 90%) !important;
    background: linear-gradient(156deg,#b22f2f 25%,#e8a319 90%) !important;
    /* -webkit-background-clip: text !important; */
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    margin-right: 5px;
    border-radius: 8px 0px;
    padding: 0px 4px;
  }

  header ul {
    float:right;
    margin:0px;
    padding:0px;
    list-style-type: none;
  }

  header ul li {
    float:left;
    position: relative;
  }

  header ul li ul {
    float:left;
    position: absolute;
    top: 50.5px;
    width: 184px;
    display: none;
    z-index: 1;
  }

  header ul li:hover ul {
    display: block;
  }

  header ul li ul li{
    width: 100%;
  }

  header ul li ul li a{
    padding: 10px;
    background: #006669;
    color: white !important;
  }

  header ul li ul li a:hover{
    background: #014244;
  }

  header ul li a {
    display:block;
    padding: 12px;
    text-decoration: none;
  }

  header ul li a i.chevron-down {
    font-size: .8em;
  }

  header ul li a:hover {
    background: #014244;
    /*border: 1px solid white;*/
    border-radius: 4px;
    /*transition: all 0s;*/
  }

  header .menu-toggle {
    display:none;
  }

  .page-wrapper {
    min-height: 100%;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
  }

  .sidenav a {
    padding: 4px;
    text-align: left;
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: 0.3s;
  }

  .sidenav a .sideNavLinks {
    border-right: 1px solid silver;
  }

  .sidenav2 {
    padding: 16px 8px;
  }

  .sidenav2 h2 {
    clear: both;
    padding: 8px;
    margin: 40px 0 5px 5px;
    font-size: 200%;
  }

  .sidenav a:hover {
      color: #555;
      transition: .5s;
  }

  .sidenav .closebtn {
    display: block;
    cursor: pointer;
    float: left;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    padding: 8px 8px;
  }

  .sidenav .sidesearch {
    float: left;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 80%;
    border: 1px solid #e0e0e0;
    padding: 8px;
    display: block;
    outline: none;
    border: 1px solid #e0e0e0;
    color: black;
  }

  /* CONTENT */
  .admin-wrapper {
    position: relative;
    top: 80px;
  }

  .content2 {
    width: 100%;
  }

  .content .main-content {
    width: 75%;
    padding: 0px 8px;
    float: left;
  }

  .content .main-content.single {
    min-height: 100%;
  } 

  .content .main-content.single .postinfo{
    margin-bottom: 14px;
    /* box-shadow: 1rem 1rem 1rem -.5rem #a0a0a0; */
  } 

  .content .main-content.single .postinfo .image-and-moreinfo{
    background: whitesmoke;
    border: 1px solid #ccc;
  }

  .content .main-content.single article{
    border: 1px solid #ccc;
  }

  .image-and-moreinfo  {
    background-color: gainsboro;
    margin-bottom: 20px;
  } 

  .image-and-moreinfo .more-info {
    display: inline-block;
    width: 50%;
  } 

  .image-and-moreinfo .more-info img{
    width: 50%;
    max-width: 100%;
    float: left;
  } 

  .content .main-content.single .more-info span{
    display: block;
    text-align: left;
    font-size: 1.15em;
    padding: 8px 10px;  
    color:#555;
  } 

  .content .main-content.single .post-content{
    padding: 0px 8px;
    color: initial;
  } 

  .content .main-content .post  {
    float: left;
    height: 260px;
    width: 32.5%;
    margin: 2px;
    cursor: pointer;
    /* box-shadow: 1rem 1rem 1rem -.5rem #a0a0a0; */
    /* box-shadow: -1rem .5rem .5rem -.5rem #a0a0a0; */
  }

  .content .main-content .post .recent-post-image {
    max-width: 100%;
    background-size: cover;
  }

  .content .main-content .post .post-image {
    max-width: 100%;
    transition: all .4s;
  }

  .content .main-content .post-preview {
    /*width: 100%;*/
    padding: 4px 14px;
    text-align:center;
  }

  .content .main-content .post-preview h4{
    font-size: larger;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

  .content .main-content .post-preview a:hover{
    color: #006669;
  }

  .content .main-content .description p{
    color: cornflowerblue;
    padding: 10px 8px;
  }

  .content .main-content .post-preview i {
    color: black;;
    padding: 2px 0px;
    /* font-size: .8em; */
  }

  .content .sidebar {
    width: 25%;
    float: left;
    padding: 0px 2px 2px 8px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .content .sidebar.single {
    padding: 0px 10px 100px;
    /* border: 1px solid #ccc; */
    /* background: #f5f6f7; */
  }

  .content .main-content.single .post-image {
    width: 50%;
    height: 100%;
    float: left;
    background-size: cover;
  }

  .content .main-content.single .post-image img{
    max-width: 100%;
  }

  .content .sidebar .section {
    padding: 10px 4px;
  }

  .content .popular .post {
    border-top: 1px solid silver;
    margin-top: 10px;
    padding-top: 10px;
  }

  .content .popular .post img {
    width: 65px;
    height: 50px;
    float: left;
    margin-right: 10px;
  }

  .content .sidebar .section .section-title {
    margin: 10px 0px;
    padding: 2px 0px;
    font-size: 20px;
  }

  .content .sidebar .section.socialmedia {
    padding: 15px;
  }

  .content .sidebar .section.topics ul {
    margin:0px;
    padding: 0px;
    list-style-type: none;
    border-top: 1px solid #e0e0e0;

  }

  .content .sidebar .section.topics ul li a{
    display: block;
    padding: 15px 0px;
    border-bottom: 1px solid #e0e0e0;
  }

  .content .sidebar .section.topics ul li a:hover{
    padding-left: 10px;
  }

  .content .sidebar .section.contactus .contact-input {
    margin-bottom: 10px;
  }

  .content .sidebar .section.contactus .contact-btn {
    cursor: pointer;
  }

  /* AUTH PAGES */

  .auth-content {
    position: relative;
    top: 30px;
    width: 38%;
    min-height: 100%;
    margin: 0px auto 250px;
    background: #f5f6f7;
    border: 1px solid #ccc;
  }

  .auth-content form{
    padding: 4px 10px;
  }

  .auth-content label{
    font-size: 1.12em;
    font-weight: bold;
  }

  .auth-content .login{
    margin: 0px auto 100px;
    padding: 4px;
    background: white;
    border-radius: 5px;

  }

  .auth-content .form-title {
    background: #06d3d5 !important;
    background: -moz-linear-gradient(-68deg,#b22f2f 30%,#e8a319 80%) !important;
    background: -webkit-linear-gradient(-68deg,#b22f2f 30%,#e8a319 80%) !important;
    background: linear-gradient(156deg,#b22f2f 30%,#e8a319 80%) !important;
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px; 
    /* font-family: 'Lato', sans-serif; */
    /*text-transform: lowercase;*/
  }

  .auth-content form p {
    text-align: center;
    padding: 16px;
  }

  .auth-content form p a {
    color: blue;
  }

  .auth-content form p a:hover {
    text-decoration: underline;
  }

  .auth-content button{
    width: 100%;
  }

  .auth-content form div {
    margin-bottom: 10px;
  }

  /* FOOTER */
  .footer {
    background-color: ghostwhite;
    color: #d3d3d3;
    width: 100%;
    position: relative;
    top: 300px;
  }

  .footer .footer-content {
    height: 350px;
    display: flex;
  }

  .footer .footer-content .footer-section {
    flex: 1;
    padding: 10px;
  }

  .footer .footer-content h1, 
  .footer .footer-content h2 {
    color: white;
  }

  .footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
  }

  .footer .footer-content .about .contact {
    font-family: "Lora" sans-serif;
    margin-left: 5px;
  }

  .footer .footer-content .about .about-text {
    font-family: "Lora" sans-serif;
    margin-left: 5px;
  }

  .footer .footer-content .about .socials {
    margin-left: 5px;
  }

  .footer .footer-content .about .socials a {
    border: 1px solid #444;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
  }

  .footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;
  }

  .footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    transition: all .3s;
  }

  .footer .footer-content .links ul a:hover {
    margin-left: 15px;
    color: white;
    transition: all .3s;
  }

  .footer .footer-bottom {
    background-color: ghostwhite;
    color: #555;
    width: 100%;
    text-align: center;
    font-size: 1.15em;
    padding: 14px;
    border-top: 1px solid #ccc;
  }

  /* MEDIA QUERIES */
  @media only screen and (min-width: 1600px) {
    html{ 
      width: 100%;
      max-width: 1500px;
      max-height:3000px  ;
      margin: 0px auto;
      border: 1px solid silver;
      border-collapse: collapse;
    }

    header {
      width: 100%;
      max-width: 1500px;
      border: 0px 1px 1px 0px solid silver;
      border-collapse: collapse;
    }

    .admin-wrapper {
      max-width: 1500px;
    }

  }

  @media only screen and (max-width: 1600px) {
    html{ 
      max-width: 1500px;
      margin: 0px auto;
    }

    header {
      width: 100%;
      max-width: 1500px;
    }

  }

  @media only screen and (max-width:934px){
    .content {
      width: 100%;
      padding: 0px 4px;
    }

    .auth-content {
      width: 50%;
    }

    .content .main-content {
      width: 100%;
    }

    .content .sidebar {
      width: 100%;
      padding: 10px;
    }

    .content .sidebar .section.search {
      margin-top: 30px;
    }

    .footer {
      height: auto;
    }

    .footer .footer-content {
      height: auto;
      flex-direction: column;
    }

    .footer .footer-content .contact-form {
      margin-bottom: 0px;
      padding: 10px 20px;
    }

  .footer .footer-content .about {
      margin-top: 0px;
      padding-bottom: 60px !important;
    }

  .footer .footer-content .about .contact{
      padding-bottom: 10px !important;
    }

    .footer .footer-content .contact-form .contact-btn {
      width: 100%;
      margin-bottom: 0px;
      padding: 10px 20px;
    }
  }

  @media only screen and (max-width:600px){

    .msg {
      margin: 2px 4px;
    }

    h1.post-title {
      text-align: center;
    }

    h2.topics {
      border: 1px solid #ccc;
      margin: 16px 4px;
    }

    div.navigation {
      margin: 20px 0px 0px 8px;
      display:inline-block;
    }

    header ul {
      width: 100%;
      max-height: 0px;
      overflow: hidden;
    }

    header ul li ul {
      position: static;
      width: 100%;
      display: block;
    }

    header ul li ul li a{
      padding: 10px;
      border-bottom: 1px solid #444;
      color: white;
      padding-left: 50px;
    }

    .section.topics {
      display: none;
    }

    .admin-wrapper{
      top: 80px;
    }

    .auth-content {
      top: 0px;
    }

    .main-content-wrapper {
      padding: 10px;
    }

    .content {
      margin: 0px auto;
      padding: 0px;
    }

    .auth-content {
      width: 90%;
      background: ghostwhite;
      border: none;
    } 

    .content .main-content .post  {
    width: 48%;
    float: left;
    padding: 8px;
    }

    .content .main-content .post .recent-post-image {
      width: 100%;
    }
    .content .main-content .post .post-image {
      padding: 0px 0px;
      border-radius: 4px;
      width: 100%;
    }

    .content .main-content .post-preview {
      width: 100%;
    }

    .content .main-content.single .post-content {
      padding: 0px;
    }

    .content .main-content .post {
      padding-bottom: .8rem;
      border: none;
    }

    .content .main-content.single .post-title {
      text-align: center;
    }

    .post-slider .next {
      top: 50%;
      right: 5px;
    }

    .post-slider .prev {
      top: 50%;
      left: 5px;
    }

    .content .sidebar .section.search {
      display: none;
    }

    .content .sidebar {
      margin-top: 30px;
    }

    .content .sidebar.single {
      border: none;
    }

    footer .footer-content .footer-section.about .socials {
      padding-bottom: 50px;
    }

    header .menu-toggle {
      cursor: pointer;
      display: inline-block;
      position: absolute;
      right: 20px;
      font-size: 28px;
      padding: 1px;
    }

    header .logo {
      position: absolute;
    }

    .content .main-content.single .image-and-moreinfo {
      margin-bottom: 14px;
    }

    .content .main-content.single .more-info {
      width: 100%;
    } 


    .content .main-content.single .post-image {
      width: 100%;
      height: 100%;
      float: left;
    }

    .content .main-content.single .image-and-moreinfo img{
      width: 100%;
    } 

    .content .main-content.single {
      margin-bottom: 14px;
    }

    .content .main-content.single article {
        border: none;
    }

    .content .main-content.single .image-and-moreinfo .post-title{
      text-align: left;
      margin-bottom: 0px;
    } 

    .mpopup-content {
      width: 90%;
    }
  }

  @media only screen and (max-width: 450px) {

    .content .main-content .post  {
      float: left;
      height: auto;
      width: 100%;
      padding: 14px;
      border-radius: 5px;
    }
    
    .content .main-content {
      padding: 0px;
    }
  }